[submodule "3rdparty/pylatexenc"]
	path = 3rdparty/pylatexenc
	url = https://github.com/phfaist/pylatexenc.git
[submodule "3rdparty/arxiv2bib"]
	path = 3rdparty/arxiv2bib
	url = https://github.com/nathangrigg/arxiv2bib.git
