include README.md
include doc/*.rst
include doc/*.py
include doc/*.png
include doc/Makefile
include doc/make.bat
include pip_requirements.txt
recursive-include doc/_static *
recursive-include doc/_templates *
