
#
# pybtex.
#
pybtex >= 0.19

#
# arxiv2bib.
#
arxiv2bib >= 1.0.2

#
# My own pylatexenc.
#
pylatexenc >= 1.4

#
# `future` for both python2 & python3 support
#
future

#
# `bs4` and `requests` for citeinspirehep filter
#
bs4
requests
