

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans:400,400i,600,600i');


div.sphinxsidebar li.toctree-l1 {
    margin-bottom: 0.7em;
}

div.sphinxsidebar li.toctree-l1::before {
    content: '- ';
    width: 1em;
    margin-left: -1em;
    margin-right: 0em;
    padding: 0pt;
    display: inline-block;
}
